/* Basic reset and styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sn-notify-outline { --sn-notify-background-color: #27272a; }
.sn-notify-outline .sn-notify-title { --sn-notify-title-color: #FFFFFF; }
.sn-notify-outline .sn-notify-text { --sn-notify-text-color: rgba(255,255,255,0.5); }

.sn-notify-outline { --sn-notify-background-color: #27272a; }
.sn-notify-outline .sn-notify-title { --sn-notify-title-color: #FFFFFF; }
.sn-notify-outline .sn-notify-text { --sn-notify-text-color: rgba(255,255,255,0.5); }

/* Full-page container styling */
html {
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-wrap: break-word;
}


body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    height: 100%;
    overflow: hidden;
}


#container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#container .wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#chat.noscrollbar {
    overflow-y: hidden;
}

#chat::-webkit-scrollbar { width: 8px; }
#chat::-webkit-scrollbar-track { background: #1e1e1e; }
#chat::-webkit-scrollbar-thumb { background-color: #555; border-radius: 4px; border: 2px solid #1e1e1e; }
#chat::-webkit-scrollbar-thumb:hover { background-color: #777; }

#chat {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    padding: 0px 10px;
    scrollbar-color: #555 #1e1e1e;
}

#chat.noscrollbar {
    overflow-y: hidden;
}

#chat .item {
    position: relative;
    color: #FFF;
    font-size: 18px;
    line-height: 150%;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.75);
    transition: all ease-in-out 300ms;
    /*margin: 5px 0;*/
}

#chat .item .message {
    border-radius: 5px;
    padding: 5px;
    transition: all ease-in-out 300ms;
}

#chat:not(.oneline):not(.horizontal) .item.chat.grouped .message {
    padding: 2px 5px 3px 5px;
}

#chat .item .message .actual-message a {
    color: #FFF;
    font-weight: bold;
}

#chat .item .info {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

#chat .item img {
    height: 22px;
    filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.25));
}

#chat .item .platform,
#chat .item .badges {
    height: 22px;
}

#chat .item .platform .hidden-platform {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 100px;
    background: #FFF;
}

#chat .item .badges img {
    margin: 0 1px;
}

#chat .item .info .avatar {
    display: block;
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 100px;
}

#chat .item .info .avatar img {
    height: 32px;
}


#chat .item .timestamp,
#chat .item .pronouns {
    display: inline-block;
    background: rgba(0,0,0,0.40);
    padding: 0px 6px;
    font-size: 12px;
    border-radius: 5px;
    font-weight: bold;
}

#chat .item .pronouns em {
    font-style: normal;
}

#chat .item .first-message {
    font-size: 14px;
}

#chat .item .header span {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
}


#chat .item .reply {
    max-width: 100%;
    flex-basis: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;

    font-size: 14px;
    color: #999;
}

#chat .item .reply i {
    /*transform: rotate(90deg);*/
    margin: 0 5px;
}

#chat .item .shared-chat span.origin {
    display: inline-flex;
    align-items: center;
    background: rgba(255,255,255,0.1);
    padding: 2px 8px;
    margin: 0 3px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    gap: 5px;
}

#chat .item .shared-chat img {
    border-radius: 100px;
}

#chat .item.first-chatter .message,
#chat .item.announcement .message {
    display: inline-block;
    background: rgba(255,255,255,0.2);
    outline: 1px solid rgba(255,255,255,0.1);
    outline-offset: -1px;
    padding: 10px 15px;
}

#chat .item .actual-message {
    margin-top: 3px;
    font-weight: 300;
}
#chat .item .actual-message img {
    vertical-align: middle;
    height: 28px;
    margin: 1px;
}


#chat .event {
    position: relative;
    color: #FFF;
    font-size: 18px;
    line-height: 100%;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    transition: all ease-in-out 300ms;
    margin: 5px 10px;
}

#chat .event .actual-message {
    line-height: 150%;
    font-weight: 300;
}


#chat .event .message {
    display: inline-block;
    background: rgba(255,255,255,0.2);
    outline: 1px solid rgba(255,255,255,0.1);
    outline-offset: -1px;
    padding: 10px 20px 10px 15px;
    border-radius: 5px;
    line-height: 125%;
}


#chat .event img {
    vertical-align: middle;
    height: 22px;
    margin: 1px;
    filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.25));
}

#chat .event .platform {
    height: 22px;
}

#chat .event .info {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 5px;
}

#chat .user { font-weight: bold; }



#statistics {
    width: 100%;
    position: fixed;
    top: 0; left: 0;
    z-index: 11;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding: 10px 25px;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

#statistics .platform {
    background: #000;
    
    outline: 1px solid rgba(255,255,255,0.25);
    outline-offset: -1px;

    color: #FFF;
    padding: 10px 15px 10px 10px;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;

    box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
}

#statistics .platform img {
    width: 18px;
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,1));
}


/* --------------------------- */
/* ---- HORIZONTAL LAYOUT ---- */
/* --------------------------- */

#chat.horizontal {
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 5px;
    padding: 0px 20px;
    overflow-x: hidden;
    overflow-y: unset;
    white-space: nowrap;
}

#chat.horizontal .item {
    display: inline-flex;
}

#chat.horizontal .item .message {
    padding: 5px 10px;
}

#chat.horizontal .item.chat.grouped .message {
    padding: 0px 5px 5px 5px;
}

#chat.horizontal .item.chat .message:has(.timestamp) {
    padding: 0px 5px 3px 5px;
}

#chat.horizontal .item .actual-message img {
    height: 22px;
    margin: 0 1px;
}

#chat.horizontal .item .first-message::after,
#chat.horizontal .item .shared-chat::after {
    content: "";
    display: block;
}

#chat.horizontal .item .shared-chat::after {
    margin-bottom: -5px;
}


#chat.horizontal .item .first-message,
#chat.horizontal .item .shared-chat,
#chat.horizontal .item .header,
#chat.horizontal .item .info,
#chat.horizontal .item .actual-message {
    display: inline-block !important;
    transform: translateY(-5px);
}

#chat.horizontal .item .shared-chat {
    transform: translateY(-2px);
}

#chat.horizontal .item .reply {
    display: inline-block;
    max-width: 300px;
    transform: translateY(8px);
    padding: 0 3px 0 0;
}

#chat.horizontal .item .info .timestamp {
    transform: translateY(-3px);
}

#chat.horizontal .item .info .platform,
#chat.horizontal .item .info .badges {
    display: inline-block !important;
    transform: translateY(4px);
}

#chat.horizontal .item .avatar {
    display: inline-block;
    transform: translateY(10px);
}

#chat.horizontal .item .info .pronouns {
    transform: translateY(-3px);
}

#chat.horizontal .event .info {
    display: inline-block;
}

#chat.horizontal .event .info .user,
#chat.horizontal .event .info .action,
#chat.horizontal .event .info .value {
    display: inline-block;
    /*transform: translateY(-5px);*/
}

#chat.horizontal .item .platform .hidden-platform {
    transform: translateY(-3px);
}

#chat.horizontal .item.announcement .message {
    padding: 10px 15px 0 15px;
}

#chat.horizontal .item.announcement .message .info,
#chat.horizontal .item.announcement .message .actual-message {
    display: inline-block !important;
    transform: translateY(2px);
}



#chat.horizontal .event.no-platform .info .user,
#chat.horizontal .event.no-platform .info .action,
#chat.horizontal .event.no-platform .info .value {
    transform: translateY(0);
}





/* --------------------------- */
/* ----- ONE LINE LAYOUT ----- */
/* --------------------------- */

#chat.oneline {
    white-space: wrap;
}

#chat.oneline .item {
    margin: 2px 0;
}

#chat.oneline .item .message {
    padding: 1px 10px;
}

#chat.oneline .item .first-message::after,
#chat.oneline .item .shared-chat::after {
    content: "";
    display: block;
}

#chat.oneline .item .shared-chat::after {
    margin-bottom: -5px;
}


#chat.oneline .item .shared-chat {
    margin-bottom: -8px;
}

#chat.oneline .item .first-message,
#chat.oneline .item .info,
#chat.oneline .item .actual-message {
    display: inline !important;
    /*display: inline-block !important;*/
    /*transform: translateY(-5px);*/
}

#chat.oneline .item .shared-chat { display: block; margin-top: 5px; }
#chat.oneline .item .header { margin: 10px 0 -5px 0; }

#chat.oneline .item .info .timestamp {
    transform: translateY(-3px);
}

#chat.oneline .item .info .platform,
#chat.oneline .item .info .badges {
    display: inline-block !important;
    transform: translateY(4px);
}

#chat.oneline .item .platform .hidden-platform {
    transform: translateY(-3px);
}

#chat.oneline .item .avatar {
    display: inline-block;
    transform: translateY(10px);
}

#chat.oneline .item .info .pronouns {
    transform: translateY(-3px);
}

#chat.oneline .item .reply {
    margin: 0 0 -5px 0;
}

#chat.oneline .event .info .user,
#chat.oneline .event .info .action,
#chat.oneline .event .info .value {
    display: inline-block;
    /*transform: translateY(-5px);*/
}

#chat.oneline .event.no-platform .info .user,
#chat.oneline .event.no-platform .info .action,
#chat.oneline .event.no-platform .info .value {
    transform: translateY(0);
}

#chat.oneline .item.announcement .message {
    padding: 10px;
}




#chat .item .actual-message,
#chat .item.announcement .message,
#chat .event .actual-message
{ word-break: break-word; }


/* --------------------------- */
/* ---- CHAT INPUT LAYOUT ---- */
/* --------------------------- */

#chat-input {
    padding: 15px 10px;
    position: relative;
}

#chat-input.enabled {
    display: block;
    width: 100%;
}

#chat-input input[type=text] {
    font-family: inherit;
    border: none;
    background: #222;
    color: #FFF;
    padding: 10px 50px 10px 15px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    width: 100%;
    transition: all ease-in-out 300ms;
}

#chat-input button {
    background: none;
    border: none;
    color: #FFF;
    cursor: pointer;
    font-size: 14px;
    padding: 5px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#chat-input button.active,
#chat-input button:hover {
    color: #ffcc00;
}

#chat-input #chat-input-send {
    right: 20px;
}

#chat-input .settings {
    display: none;
    background: #0c0c0c;
    padding: 5px 10px;
    border-radius: 100px;
    
    position: absolute;
    top: -40px;
    right: 0px;
    z-index: 11;

    box-shadow: 0 0 10px rgba(255,255,255,0.05)
}

#chat-input .settings.active {
    display: inline-block;
}

#chat-input .settings::after {
    content: "";
    position: absolute;
    bottom: -10px; /* posiciona fora do balão */
    right: 25px;    /* onde a pontinha aparece horizontalmente */
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #0c0c0c; /* mesma cor do balão */
}

#chat-input .settings img {
    width: 20px;
}


#chat-input .chat-enabler {
    display: inline-flex;
    padding: 5px;
    gap: 5px;
    color: #FFF;
    font-size: 14px;
    align-items: center;
    color: #333;
}

#chat-input .settings .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

#chat-input .settings .hint {
    color: #FFF;
    font-size: 18px;
} 

#chat-input .settings .hint a {
    color: #ffcc00;
    font-weight: bold;
}

/* Hide default HTML checkbox */
#chat-input .settings .switch input[type=checkbox] {
    opacity: 1;
    width: 0;
    height: 0;
}

/* The slider */
#chat-input .settings .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #CCC;
    transition: .4s;
    border-radius: 30px;
}

#chat-input .settings .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 16px;
    left: 3px;
    top: 2px;
    bottom: 0;
    background-color: white;
    transition: .4s;
}

#chat-input .settings input[type=checkbox]:checked + .slider:before {
    transform: translateX(19px);
}

#chat-input #twitch input[type=checkbox]:checked + .slider {
    background-color: #a970ff;
}
#chat-input #youtube input[type=checkbox]:checked + .slider {
    background-color: #FF0000;
}
#chat-input #tiktok input[type=checkbox]:checked + .slider {
    background-color: #ff0050;
}
#chat-input #kick input[type=checkbox]:checked + .slider {
    background-color: #48d415;
}


#chat-input .settings input[type=checkbox]:checked + .slider {
    background-color: #03c4de;
}
#chat-input .setting input[type=checkbox]:disabled + .slider {
    background-color: #000 !important;
}




#chat-autocomplete-list {
    position: absolute;
    bottom: 65px;
    left: 10px;
    width: calc(100% - 40px);
    border-radius: 5px;
    background: #222;
    color: #FFF;

    max-height: 300px;
    overflow: hidden;
    overflow-y: visible;

    font-size: 14px;;

    color: #696969;
}

#chat-autocomplete-list::-webkit-scrollbar { width: 10px; }
#chat-autocomplete-list::-webkit-scrollbar-track { background: #1e1e1e; }
#chat-autocomplete-list::-webkit-scrollbar-thumb { background-color: #555; border-radius: 10px; border: 2px solid #1e1e1e; }
#chat-autocomplete-list::-webkit-scrollbar-thumb:hover { background-color: #777; }

#chat-autocomplete-list div {
    margin: 5px 10px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#chat-autocomplete-list div.autocomplete-item {
    cursor: pointer;
}

#chat-autocomplete-list div:not(.autocomplete-item) {
    background: #191919;
    color: #FFF;
    padding: 10px;
    margin: 10px;
}

#chat-autocomplete-list .autocomplete-item strong {
    display: block;
}

#chat-autocomplete-list .autocomplete-item:hover,
#chat-autocomplete-list .autocomplete-item.active {
    color: #FFF;
    background: #292929;
}

#chat-autocomplete-list .autocomplete-item small {
    color: #666;
}



.item.chat .chatmoderation {
    opacity: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all ease-in-out 300ms;
}

.item.chat:hover .message {
    background: rgba(255,255,255,0.03);
}

.item.chat:hover .chatmoderation {
    opacity: 1;
}

.item.chat .chatmoderation button {
    background: none;
    border: none;
    color: #FFF;
    background: rgba(255,255,255,0.1);
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    transition: all ease-in-out 300ms;
    margin: 0 2px;    
    cursor: pointer;
}

.item.chat .chatmoderation button:hover {
    color: #ffcc00;
}



@keyframes bigStreamerBGAnimate {
  0%   { background-position: 50% 0%; }
  50%  { background-position: 50% 100%; }
  100% { background-position: 50% 0%; }
}




 .msm-platform {
    display: inline-block;
    background: #666;
    color: #FFF;
    padding: 0px 10px;
    margin: 1px 0;
    border-radius: 5px;
    font-size: 14px;
 }