/* ----------------------------------------- */
/* --------- CHAT - NORMAL LAYOUT ---------- */
/* ----------------------------------------- */

.chat.vertical:has(.avatar) .item .message {
    padding-left: 70px;
}

.chat.vertical .item .info {
    position: relative;
}

.chat.vertical .item .info .avatar {
    position: absolute !important;
    top: 0;
    left: -70px;
    width: 62px;
    height: 62px;
    border-radius: 100px;
    box-shadow: var(--dropShadow);
}

.chat.vertical .item .info .avatar img {
    width: 62px !important;
    height: 62px !important;
}



/* ------------------------------------------- */
/* --------- CHAT - ONE LINE LAYOUT ---------- */
/* ------------------------------------------- */

.chat.oneline:has(.avatar) .item .message {
    padding-left: 34px;
}

.chat.oneline .item .info {
    position: relative;
}

.chat.oneline .item .info .avatar {
    position: absolute;
    top: -10px;
    left: -34px;
    width: 28px;
    height: 28px;
    border-radius: 100px;
    box-shadow: var(--dropShadow);
}

.chat.oneline .item .info .avatar img {
    width: 28px;
    height: 28px;
}

/* ------------------------------------------- */
/* --------- CHAT - HORIZONTAL LAYOUT -------- */
/* ------------------------------------------- */

.chat.horizontal:has(.avatar) .item .message {
    padding-left: 34px;
}

.chat.horizontal .item .info {
    position: relative;
}

.chat.horizontal .item .info .avatar {
    position: absolute;
    top: -10px;
    left: -34px;
    width: 28px;
    height: 28px;
    border-radius: 100px;
    box-shadow: var(--dropShadow);
}

.chat.horizontal .item .info .avatar img {
    width: 28px;
    height: 28px;
}

/* --------------------------------------------- */
/* --------- CHAT - CASO HAJA SCROLLBAR -------- */
/* --------------------------------------------- */

.chat:not(.noscrollbar):not(.horizontal) {
  padding: 0 25px 0 10px;
}