#chat .event.kick .message {
    background: rgba(72,212,21,0.75);
}

#chat .item.kick .platform .hidden-platform {
    background: rgba(72,212,21,1);
}

#chat .item.kick .badges img {
    margin: 0 -1px;
}

#chat .item .info .avatar {
    position: relative;
}

#chat .item .info .avatar img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#statistics .platform#kick {
    order: 4;
    background: #48d415;
}

#chat .event.kick.kicksgifted .value .gift-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

#chat .event.kick.kicksgifted .value span.gift-image,
#chat .event.kick.kicksgifted .value span.gift-value {
    display: inline-block;
}

#chat .event.kick.kicksgifted .value span.gift-image img {
    /*width: 48px;
    height: auto;*/
    height: 48px;
    width: auto;
    filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.5));
}

#chat .event.kick.kicksgifted.small-gift .value span.gift-image img {
    height: 28px;
}

#chat .event.kick.kicksgifted .value span.gift-value {
    background: rgba(0,0,0,0.2);
    padding: 3px 9px;
    border-radius: 5px;
    font-size: 14px;
}

#chat .event.kick.kicksgifted .value span.gift-value img {
    width: 16px;
    margin-top: -1px;
}

#chat .event.kick.kicksgifted .info {
    margin: -5px 0 -5px 0;
}


.msm-platform.green { background: rgba(72,212,21,0.75); }