/* --------------------------- */
/* -------- STATISTICS ------- */
/* --------------------------- */

#statistics .platform#kick {
    order: 4;
    background: #48d415;
}

/* -------------------------------------- */
/* -------- CHAT - NORMAL LAYOUT -------- */
/* -------------------------------------- */


.chat .item.kick.streamer-mentioned .message {
    background: rgba(72,212,21,0.75);
}

.chat .item.kick .info .avatar { position: relative; }
.chat .item.kick .info .avatar img {
    width: var(--avatarSize);
    height: var(--avatarSize);
}

.chat .event.kick .message { background: rgba(72,212,21,0.75); }