#chat .event.tiktok .message {
    background: rgba(241,32,74,0.75);
}

#chat .item.tiktok .platform .hidden-platform {
    background: rgba(241,32,74,1);
}

#chat .item.tiktok span.badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    color: #FFF;
    background: #121212;
    width: 22px;
    height: 22px;
    font-size: 12px;
    border-radius: 3px;
    margin: 0 1px;
}



#chat.oneline .event.tiktok.gift .info {
    display: inline-flex !important;
}

#chat .event.tiktok.gift .value img { vertical-align: sub; }

#chat.horizontal .item.tiktok .info .badges {
    transform: translateY(2px);
}

#statistics .platform#tiktok {
    order: 3;
    background: #F1204A;
}

#chat .event.tiktok.join .message {
    background: none;
    outline: none;
}
#chat .event.tiktok.join .message i {
    font-size: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin: 0 3px 0 1px;
    text-shadow: none;
}

#chat .item.tiktok span.badge.top-gifter,
#chat .item.tiktok span.badge.sceneEight,
#chat .item.tiktok span.badge.sceneTen {
    width: auto;
    padding: 3px;
    border-radius: 3px;
} 

#chat .item.tiktok span.badge.sceneTen.inactive-fan {
    filter: saturate(0%);
}

#chat.oneline .item.tiktok span.badge.top-gifter,
#chat.oneline .item.tiktok span.badge.sceneEight,
#chat.oneline .item.tiktok span.badge.sceneTen {
    transform: translateY(-3px);
} 

#chat .item.tiktok span.badge.top-gifter img,
#chat .item.tiktok span.badge.sceneEight img,
#chat .item.tiktok span.badge.sceneTen img {
    margin: 0 3px 0 0;
    height: 16px;
}

#chat .item.tiktok span.badge.sceneTen img { margin: 0; }

#chat .item.tiktok span.badge.top-gifter em,
#chat .item.tiktok span.badge.sceneEight em,
#chat .item.tiktok span.badge.sceneTen em {
    display: inline-block;
    padding: 0 3px 0 0;
    font-style: normal;
    font-size: 11px;
}

#chat .item.tiktok span.badge.top-gifter { background: rgba(254, 44, 85, 0.4); }
#chat .item.tiktok span.badge.sceneEight { background: rgba(71, 90, 255, 0.5); }
#chat .item.tiktok span.badge.sceneTen { background: rgba(255, 94, 58, 0.5); }
#chat .item.tiktok.sub span.badge.sceneTen {
    outline: 1px solid rgba(255,255,255,1);
    outline-offset: -1px;
}

#chat .event.tiktok.gift .value .gift-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

#chat .event.tiktok.gift .value span.gift-image,
#chat .event.tiktok.gift .value span.gift-value {
    display: inline-block;
}

#chat .event.tiktok.gift .value span.gift-image img {
    /*width: 48px;
    height: auto;*/
    height: 48px;
    width: auto;
    filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.5));
}

#chat .event.tiktok.gift.small-gift .value span.gift-image img {
    height: 28px;
}

#chat .event.tiktok.gift .value span.gift-value {
    background: rgba(0,0,0,0.2);
    padding: 3px 9px;
    border-radius: 5px;
    font-size: 14px;
}

#chat .event.tiktok.gift .value span.gift-value img {
    width: 16px;
    transform: translateY(2px);
}

#chat .event.tiktok.gift .info {
    margin: -5px 0 -5px 0;
}


/* GIFT CUSTOMIZATION FOR BIG STREAMERS LOL */

#chat .event.tiktok.gift[class*="bigger-than-"] .message {
    animation: bigStreamerBGAnimate 1s ease infinite;
    background-size: 100% 200%;
}

#chat .event.tiktok.gift.bigger-than-1000 .message,
#chat .event.tiktok.gift.bigger-than-5000 .message {
    background-image: linear-gradient(
      180deg,
      rgba(241,32,74, 0.75),
      rgba(0, 175, 255, 0.75)
    );
}

#chat .event.tiktok.gift.bigger-than-10000 .message,
#chat .event.tiktok.gift.bigger-than-50000 .message,
#chat .event.tiktok.gift.bigger-than-10000 .message {
    background-image: linear-gradient(
      180deg,
      rgba(241,32,74, 0.75),
      rgba(255, 255, 0, 0.75)
    );
}




.msm-platform.vertical { background: rgba(241,32,74,0.75); }