/* ----------------------------------------- */
/* --------- CHAT - NORMAL LAYOUT ---------- */
/* ----------------------------------------- */

.chat.vertical:has(.avatar) .item .message {
    padding-left: 60px;
}

.chat.vertical:has(.avatar) .item .info {
    position: relative;
}

.chat.vertical:has(.avatar) .item .info .avatar {
    position: absolute !important;
    top: 0;
    left: -60px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.chat.vertical:has(.avatar) .item .info .avatar img {
    width: 50px !important;
    height: 50px !important;
}

.chat.vertical:has(.avatar) .item.streamer-mentioned .message,
.chat.vertical:has(.avatar) .item.first-chatter .message {
    padding-left: 70px;
}

.chat.vertical:has(.avatar) .item.first-chatter .message .first-message {
    position: relative;
    left: -60px;
}

.chat.vertical:has(.avatar) .item:has(.reply) .info .avatar {
    top: -20px;
}


/* ------------------------------------------- */
/* --------- CHAT - ONE LINE LAYOUT ---------- */
/* ------------------------------------------- */

.chat.oneline:has(.avatar) .item .message{
    padding-left: 42px;
    min-height: 32px;
}

.chat.oneline:has(.avatar) .item.streamer-mentioned .message,
.chat.oneline:has(.avatar) .item.first-chatter .message {
    padding-left: 52px;
    min-height: 48px;
}

.chat.oneline:has(.avatar) .item .info {
    position: relative;
}

.chat.oneline:has(.avatar) .item .info .avatar {
    position: absolute;
    top: -2px;
    left: -42px;
    border-radius: 100px;
}

.chat.oneline:has(.avatar) .item.first-chatter .message .first-message {
    position: relative;
    left: -42px;
}

.chat.oneline:has(.avatar) .item:has(.reply) .info .avatar {
    top: -20px;
}

/* ------------------------------------------- */
/* --------- CHAT - HORIZONTAL LAYOUT -------- */
/* ------------------------------------------- */

.chat.horizontal:has(.avatar) .item .message{
    padding-left: 42px;
    min-height: 32px;
}

.chat.horizontal:has(.avatar) .item.grouped .message {
    padding-left: 0;
}

.chat.horizontal:has(.avatar) .item.streamer-mentioned .message,
.chat.horizontal:has(.avatar) .item.first-chatter .message {
    padding-left: 52px;
    min-height: 48px;
}

.chat.horizontal:has(.avatar) .item .info {
    position: relative;
}

.chat.horizontal:has(.avatar) .item .info .avatar {
    position: absolute;
    top: -2px;
    left: -42px;
    border-radius: 100px;
}

.chat.horizontal:has(.avatar) .item.first-chatter .message .first-message {
    position: relative;
    left: -42px;
}

.chat.horizontal:has(.avatar) .item:has(.reply) .info .avatar {
    top: -20px;
}